// Custom.scss
// Option B: Include parts of Bootstrap

// 2. Include any default variable overrides here

$font-family-sans-serif: Helvetica, sans-serif;
$link-decoration: none;

$popover-body-padding-y: 0;
$popover-body-padding-x: 0;
$popover-max-width: 100%;

// 6. Optionally include any other parts as needed
@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css); // Fira Code font

@import "../node_modules/bootstrap/scss/alert";
@import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/pagination";
@import "../node_modules/bootstrap/scss/popover";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/spinners";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/toasts";
@import "../node_modules/bootstrap/scss/tooltip";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/type";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here

code {
    font-family: 'Fira Code', monospace;
}

@supports (font-variation-settings: normal) {
    code {
        font-family: 'Fira Code VF', monospace;
    }
}

.bg-custom {
    background-color: $custom;
}

.buttons {
    background-color: $body-bg;
    border-bottom: .5px solid lightgray;
    margin-bottom: .5em;
}

.clickable {
    cursor: pointer;
}

.custom-popover {
    width: 250px;
}

// make sure content goes below entire row when row contains floats
.float-row {
    overflow: auto;
}

.high-contrast-question-text {
    border: 1px solid slategray;
    padding: 1em;
    font-family: "Times New Roman", serif;
    font-size: 20px;
}

.logo-prefix {
    color: $logo-prefix-color;
}

.logo-suffix {
    color: $logo-suffix-color;
}

.room-history {
    border-top: .5px solid lightgray;
}

.small-alert {
    --bs-alert-padding-y: 0.5rem;
}

.text-highlight {
    background-color: #f8ff00;
    color: $dark;
}

.timer .fraction {
    font-size: 50%;
}

.user-score {
    background-color: $user-score-background;
}

a.list-group-item:hover {
    color: inherit;
}

#difficulty-settings {
    min-height: 90px;
}

#logo {
    font-family: Inter, 'Source Sans Pro', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

#multiplayer-name {
    margin-top: 3px
}

#set-settings {
    min-height: 90px;
}

@import "./dual-slider";
@import "./dropdown-checklist";
