// Variables taken from https://github.com/ForEvolve/bootstrap-dark/blob/master/scss/_dark-variables.scss

$body-bg:     #21262c;
$body-color:  #d3d3d3;

$custom: #dfebfb;

$link-color: #6699ff;
$logo-prefix-color: #0080ff;
$logo-suffix-color: #000000;

/* ##### */

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

/* redefine theme colors for dark theme */
$color-darker-percent-full: 20%;
$color-darker-percent-half: calc($color-darker-percent-full / 2);
$color-darker-percent-quarter: calc($color-darker-percent-half / 2);
$color-darker-percent-none: 0;

$blue:    lighten(#007bff, $color-darker-percent-half);
$indigo:  darken(#6610f2, $color-darker-percent-none);
$purple:  darken(#6f42c1, $color-darker-percent-none);
$pink:    darken(#e83e8c, $color-darker-percent-none);
$red:     darken(#dc3545, $color-darker-percent-none);
$orange:  darken(#fd7e14, $color-darker-percent-none);
$yellow:  lighten(#ffc107, $color-darker-percent-half);
$green:   darken(#28a745, $color-darker-percent-none);
$teal:    darken(#20c997, $color-darker-percent-none);
$cyan:    lighten(#17a2b8, $color-darker-percent-none);

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $orange;
$danger:        $red;
$light:         $gray-300;
$dark:          $gray-800;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
);

* {
    /* redefine theme color variables */
    @each $color, $value in $theme-colors {
        --#{$variable-prefix}#{$color}: #{$value};
    }

    /* redefine theme color rgb vars (used for bg- colors) */
    $theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
    @each $color, $value in $theme-colors-rgb {
        --#{$variable-prefix}#{$color}-rgb: #{$value};
    }

    --#{$variable-prefix}body-color: #{$body-color};
    --#{$variable-prefix}body-bg: #{$body-bg};
}


// Cards:
$card-border-color:         rgba($white, .125);
$card-cap-bg:               rgba($white, .03);
$card-bg:                   $gray-900;

$nav-tabs-border-color:             rgba($white, .125);
$nav-tabs-link-hover-border-color:  $gray-700 $gray-700 $nav-tabs-border-color;
$nav-tabs-link-active-color:        $gray-100;
$nav-tabs-link-active-bg:           $body-bg;
$nav-tabs-link-active-border-color: $gray-700 $gray-700 $nav-tabs-link-active-bg;

$component-active-color:      $black;
$component-active-bg:         $primary;

// Modals
$modal-content-bg:              $body-bg;
$modal-content-border-color:    rgba($white, .2);
$modal-header-border-color:     $gray-800;
$modal-footer-border-color:     $modal-header-border-color;

$close-color:                   $white;
$close-text-shadow:             0 1px 0 $black;

// List Groups
$list-group-bg:                     rgba($body-bg, .05);
$list-group-border-color:           rgba($white, .125);
$list-group-color:                  $body-color;

$list-group-hover-bg:               $gray-900;
$list-group-active-color:           $component-active-color;
$list-group-active-bg:              $component-active-bg;
$list-group-active-border-color:    $list-group-active-bg;

$list-group-disabled-color:         $gray-400;
$list-group-disabled-bg:            $list-group-bg;

$list-group-action-color:           $gray-300;
$list-group-action-hover-color:     $list-group-action-color;

$list-group-action-active-color:    $body-color;
$list-group-action-active-bg:       $gray-800;