// Variable values taken from https://vinorodrigues.github.io/bootstrap-dark-5/
// And code structure taken from https://github.com/ForEvolve/bootstrap-dark/blob/master/scss/_dark-variables.scss

// $body-bg:     #21262c;
$body-bg:     #222222;
$body-color:  #e0e0e0;

$custom: #dfebfb;

$link-color: #6699ff;
$logo-prefix-color: #0080ff;
$logo-suffix-color: #000000;

/* ##### */

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

/* redefine theme colors for dark theme */
$color-darker-percent-full: 20%;
$color-darker-percent-half: calc($color-darker-percent-full / 2);
$color-darker-percent-quarter: calc($color-darker-percent-half / 2);
$color-darker-percent-none: 0;

$blue:    #375a7f;
$indigo:  #673ab7;
$purple:  #654ea3;
$pink:    #e83e8c;
$red:     #e74c3c;
$orange:  #fd7e14;
$yellow:  #f39c12;
$green:   #00bc8c;
$teal:    #45b5aa;
$cyan:    #17a2b8;

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $orange;
$danger:        $red;
$light:         $gray-300;
$dark:          $gray-800;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
);

$btn-close-color: $gray-300;

// Cards:
$card-border-color:         rgba($white, .125);
$card-cap-bg:               rgba($white, .03);
$card-bg:                   $body-bg;

$nav-tabs-border-color:             rgba($white, .125);
$nav-tabs-link-hover-border-color:  $gray-700 $gray-700 $nav-tabs-border-color;
$nav-tabs-link-active-color:        $gray-100;
$nav-tabs-link-active-bg:           $body-bg;
$nav-tabs-link-active-border-color: $gray-700 $gray-700 $nav-tabs-link-active-bg;

$component-active-color:      $black;
$component-active-bg:         $primary;

// Modals
$modal-content-bg:              $body-bg;
$modal-content-border-color:    rgba($white, .2);
$modal-header-border-color:     $gray-800;
$modal-footer-border-color:     $modal-header-border-color;

$close-color:                   $white;
$close-text-shadow:             0 1px 0 $black;

// List Groups
$list-group-bg:                     rgba($body-bg, .05);
$list-group-border-color:           rgba($white, .125);
$list-group-color:                  $body-color;

$list-group-hover-bg:               $gray-900;
$list-group-active-color:           $component-active-color;
$list-group-active-bg:              $component-active-bg;
$list-group-active-border-color:    $list-group-active-bg;

$list-group-disabled-color:         $gray-400;
$list-group-disabled-bg:            $list-group-bg;

$list-group-action-color:           $gray-300;
$list-group-action-hover-color:     $list-group-action-color;

$list-group-action-active-color:    $body-color;
$list-group-action-active-bg:       $gray-800;

// Forms
$input-bg:                              $body-bg;
$input-disabled-bg:                     $gray-800;

$input-color:                           $body-color;
$input-border-color:                    $gray-600;
$input-box-shadow:                      inset 0 1px 1px rgba($white, .075);

$input-focus-bg:                        $body-bg;
$input-focus-border-color:              lighten($component-active-bg, 25%);
$input-focus-color:                     $input-color;

$input-group-addon-color:               $input-color;
$input-group-addon-bg:                  $gray-800;
$input-group-addon-border-color:        $input-border-color;

$form-select-color:               $input-color;
$form-select-disabled-color:      $gray-400;
$form-select-bg:                  $input-bg;
$form-select-disabled-bg:         $gray-800;
$form-select-indicator-color:     $gray-200;
$form-select-box-shadow:          inset 0 1px 2px rgba($white, .075);
$form-select-border-color:        $input-border-color;

$form-range-track-bg:               $gray-600;
$form-check-input-bg:               $input-bg;
$form-check-input-border:           1px solid rgba($white, .25);

// Popovers
$popover-bg:                        $body-bg;
$popover-header-bg:                 tint-color($popover-bg, 6%);

// $component-active-color:            $primary;
// $component-active-bg:               $primary;

$slider-background: $gray-600;

$dropdown-checklist-border-color: var(--bs-gray-600);

$user-score-background: #4A90E2;
