.logo-prefix {
    color: var(--logo-prefix-color);
}

.logo-suffix {
    color: var(--logo-suffix-color);
}

#logo {
    font-family: Inter, 'Source Sans Pro', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}
