* {
    font-family: Helvetica, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

.container {
    min-height: 100%;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 0.6fr 0.4fr;
    grid-template-rows: 0.5fr 0.3fr 3.2fr;
    gap: 0px 15px;
    grid-auto-flow: row;
    justify-items: stretch;
    grid-template-areas:
        ". Header Header Header" 
        ". buttons options ." 
        "uploaded-packets question-text options .";
}

.header {
    grid-area: Header;
    font-size: 36px;
    margin-top: 2.5%;
}

.buttons {
    grid-area: buttons;
}

.options {
    grid-area: options;
}

.question-text {
    grid-area: question-text;
}

.uploaded-packets {
    grid-area: uploaded-packets;
    margin-left: 30px;
}

button {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
}

#reading-speed {
    width: 100%;
}

input[type="checkbox"] {
    height: 20px;
    width: 20px;
}

label {
    font-size: 18px;
    vertical-align: top;
}