$link-color: #003399;

@include color-mode(light, true) {
    --form-range-thumb-bg: #{$component-active-bg};
    --logo-prefix-color: #0080ff;
    --logo-suffix-color: #000000;
    --user-score-background: #FFF9C4;

    .dropdown-checklist button {
        --dropdown-checklist-border-color: #{$gray-400};
    }

    .timer {
        background: linear-gradient(#ddd, #eee);
    }

    #alert-box-dialog {
        --alert-dialog-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
    }
}
