* {
    font-family: Helvetica, sans-serif;
}

a {
    color: #003399;
    text-decoration: none;
}

html, body {
    height: 100%;
    margin: 0;
}

.container {
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-items: stretch;
    grid-template-areas: "packets-1 packets-2 packets-3 packets-4 packets-5 packets-6";
    margin-left: 2em;
    margin-right: 3.5em;
    margin-top: 1em;
}

.navbar {
    align-items: center;
    background-color: #faebd7;
    display: flex;
    font-size: 16px;
    height: 3em;
    padding-left: 2em;
}

.title {
    color: #000;
    font-size: 20px;
    /* font-style: italic; */
}

.links {
    margin-left: auto;
    margin-right: 3.5em;
}

.header {
    grid-area: header;
    font-size: 36px;
    margin-top: 4.25%;
}

.links {
    grid-area: links;
}

.packets-1 {
    grid-area: packets-1;
}

.packets-2 {
    grid-area: packets-2;
}

.packets-3 {
    grid-area: packets-3;
}

.packets-4 {
    grid-area: packets-4;
}

.packets-5 {
    grid-area: packets-5;
}

.packets-6 {
    grid-area: packets-6;
}