* {
    font-family: Helvetica, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

.container {
    min-height: 100%;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 0.5fr 0.2fr 3.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-items: stretch;
    grid-template-areas:
        ". header header header header header"
        ". links links . . ."
        ". packets-1 packets-2 packets-3 packets-4 .";
}

.header {
    grid-area: header;
    font-size: 36px;
    margin-top: 2.5%;
}

.links {
    grid-area: links;
}

.packets-1 {
    grid-area: packets-1;
}

.packets-2 {
    grid-area: packets-2;
}

.packets-3 {
    grid-area: packets-3;
}

.packets-4 {
    grid-area: packets-4;
}