* {
    font-family: Helvetica, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

.container {
    min-height: 100%;
    display: grid;
    grid-template-columns: 0.25fr 1.75fr 0.8fr 0.2fr;
    grid-template-rows: 0.6fr 0.2fr 3.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-items: stretch;
    grid-template-areas:
        ". Header Header Header" 
        ". buttons options ." 
        ". question-text options .";
}

.header {
    grid-area: Header;
    font-size: 36px;
    margin-top: 4.25%;
}

.buttons {
    grid-area: buttons;
}

.options {
    grid-area: options;
}

.question-text {
    grid-area: question-text;
    padding-right: 15px;
}

.category-select button {
    background-color: white;
    border-radius: 0;
    border-width: 1px;
    margin-right: 12%;
    margin-top: -1px;
    width: 35%;
}

button {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
}

#reading-speed {
    width: 80%;
}

label {
    font-size: 18px;
    vertical-align: top;
}

#toggle-correct {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    width: 110px;
}

.toggle-correct {
    width: 110px;
    margin-left: auto;
    padding-right: 5%;
}

input[type="text"] {
    padding: 4px;
    height: 20px;
    width: 180px;
    margin: 2px 1px 2px 1px;
}